@model Student
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form asp-controller="Student" asp-action="SaveStudent" method="post">
                <label asp-for="Name_"></label>
                <input asp-for="Name_" placeholder="Enter Name" class="form-control"/>
                <br />
                <input asp-for="Class_" placeholder="Enter Class" class="form-control" />
                <br />
                <input asp-for="Age_" placeholder="Enter Age" class="form-control" />
                <br />
                <input asp-for="Branch_" placeholder="Enter Branch" class="form-control" />
                <br />
                <input asp-for="Section_" placeholder="Enter Section" class="form-control" />
                <br />
                <label asp-for="Gender_"></label>
                <select asp-for="Gender_" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option value="">Select Gender</option>
                </select>
                <br />
                <label asp-for="Married"></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Married" value="Yes">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Married" value="No">
                    <label class="form-check-label" for="flexRadioDefault2">
                        No
                    </label>
                </div>
                <br/>
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="5">

                </textarea>
                <input type="submit" value="submit" class="btn btn-outline-primary"/>
            </form>
        </div>
    </div>

</div>

