<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <header style="background-color:red">
       <h1>Header part</h1>
   </header>
        @RenderBody()
        <footer style="background-color:blue">
            <h1>Footer part</h1>
        </footer>
    
</body>
</html>
